.img-loading{
    padding-left: 400px;
    display: none;
}
.width{
    width: 200px;
}

.searchbtn{
    padding-left: 900px;
    margin-bottom: -10px;
}

.container_box{border: 1px solid #C8C8D3;box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);width:85%;margin:auto;background:none #fff;}

.ctb{
    margin-left: 200px;
    margin-top: 30px;
}
.categ{
    margin-top: -10px;
}
.nvcateg{
    margin-top: -19px;
}
#category{
    text-align: center;
}
.navbar-brand-size{
    font-size: 14px !important;
}
.position{
    position: relative;
    float: right;
    z-index: 200;
    margin-left: 965px;
    margin-top: -67px;
}
.ui-tooltip{
    max-width: 500px !important;
    overflow:auto !important;
}
.ui-tooltip-content{
    background-color: #fdf8ef;
}
span{
    display: inline-block;
}
